<nav>
 <ul>
   <li><%= link_to "Terms", terms_path %></li>
   <li><%= link_to "Privacy Policy", privacy_path %></li>
   <li><%= link_to "Contact", contact_path %></li>
   <li><%= link_to "History", history_path %></li>
	</ul>
</nav>
<%= link_to image_tag("dr_logo_small.jpg", :alt => "Dock Realty"), root_path %>
<p>Copyright 2003 - 2011, Dock Realty, Inc.. All rights reserved.<br>
Any and all information on this site may not be duplicated or copied 
without the expressed written permission of Dock Realty, Inc.</p>

