<header>
  <!-- <%= image_tag("logo.jpg", :alt => "Dock Realty", :class => "round" ) %>
  <%= image_tag("lift4sale.jpg", :alt => "Dock Realty", :class => "round", 
		:size  => "140x105") %> -->
		
  <%= image_tag("dock4sale.jpg", :alt => "Dock Realty", :class => "round") %>
	<h1><strong>DockRealty</strong>.com </h1>
	<h2>Listing New & Used Boat Docks Slips & Lifts</h2>
	<h3>If you wish to list your dock please contact us: <a href="mailto:sales@dockrealty.com">sales@dockrealty.com</a></h3>
		<!-- 573-374-8849 -->
	<nav class="round">
		<ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", '#' %></li>
      <li><%= link_to "Sign in", '#' %></li>
    </ul>
  </nav>
</header>
