<header>
	<%= image_tag("dock4sale.jpg", :alt => "Dock Realty", :class => "round", :size  => "140x105" ) %>
  <%= image_tag("logo.jpg", :alt => "Dock Realty", :class => "round" ) %>
  <%= image_tag("lift4sale.jpg", :alt => "Dock Realty", :class => "round", :size  => "140x105") %>
  <!-- </br>
	<ul><li><a href="mailto:sales@dockrealty.com">DockRealty</a></li><br>
		573-374-8849</ul> -->
	<nav class="round">
		<ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", '#' %></li>
      <li><%= link_to "Sign in", '#' %></li>
    </ul>
  </nav>
</header>
