<ul>
	<li><%= link_to "Home", root_path %></li>
	<li><h2>Listings</h2>
    <ul>
      <li><h3>Docks</h3>
        <ul>
					<li><%= link_to "1 Well Docks", '#' %></li>
					<li><%= link_to "2 Well Docks", '#' %></li>
					<li><%= link_to "3+ Well Docks", '#' %></li>
					<li><%= link_to "Commercial", '#' %></li>
        </ul>
      </li>
    </ul>
		<ul>
			<li><h3>Lifts</h3>
	      <ul>
					<li><%= link_to "Boat Lifts", '#' %></li>
					<li><%= link_to "New Boat Lifts", '#' %></li>
					<li><%= link_to "PWC Jet Ski Lifts", '#' %></li>
					<li><%= link_to "All Lifts", '#' %></li>
	      </ul>
	    </li>
	  </ul>
		<ul>
		<li><h3>Slips</h3>
      <ul>
				<li><%= link_to "All Slips", '#' %></li>
				<li><%= link_to "For Sale", '#' %></li>
				<li><%= link_to "For Lease", '#' %></li>
      </ul>
    </li>
	</ul>
  </li>
</ul>

<ul>
  <li><h2>Accessories</h2>
    <ul>
			<li><h3>Example</h3>
        <ul>
          <li><a href="index.html#">Popout!</a><!-- link to seo vertical tut -->		
            <ul>
              <li><a href="vs1.html" title="Vertical Menu - Page 1">Stage 1</a></li>
              <li><a href="vs2.html" title="Vertical Menu - Page 2">Stage 2</a></li>			
              <li><a href="vs3.html" title="Vertical Menu - Page 3">Stage 3</a></li>
              <li><a href="vs4.html" title="Vertical Menu - Page 4">Stage 4</a></li>
              <li><a href="vs5.html" title="Vertical Menu - Page 5">Stage 5</a></li>			
              <li><a href="vs6.html" title="Vertical Menu - Page 6">Stage 6</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<ul>
  <li><h2>Company Info</h2>
    <ul>
			<li><h3>About Us</h3>
				<ul>
					<li><%= link_to "Contact Us", contact_path %></li>
					<li><%= link_to "History", history_path %></li>
					<li><%= link_to "Advertising", advertising_path %></li>
				</ul>	
			</li>
			<li><h3>Legal</h3>
				<ul>
					<li><%= link_to "Terms", terms_path %></li>
					<li><%= link_to "Privacy Policy", privacy_path %></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>